:root{
    --bg: #19172e;
    --btn: #9c528b;
    --card: #b9929f;
}

*{
    font-family: sans-serif;
    transition: 0.5s ease;
}

body{
    margin: 0;
    background: var(--bg);
}

h1{
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    font-size: 2rem !important;
}

#app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 50px;
    gap:40px
}

.note{
    position: relative;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 17px;
    padding-bottom: 43px;
    border-radius: 15px;
    resize: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 18px;
    color: var(--bg);
    font-weight: 700;
    border: none;
    outline: none;
    background: var(--card);
    overflow-y: scroll;
}
.note-container{
    display: inline-block;
    position: relative;
    height: 200px;
    flex-direction: column;
}


.Delete_Button{
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 33px;
    margin-top: 0px;
    z-index: 100;
}

